@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1959ad;
  --secondary: #042a8f;
}

body {
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden !important;
}

.container {
  max-width: 90% !important;
  margin: auto;
}

@media only screen and (min-width: 1250px) {
  .container {
    max-width: 1200px !important;
  }
}

html {
  scroll-behavior: smooth;
}

.active {
  color: var(--primary);
}

/* -----------------scroll----------- */
.horizontal_scroll {
  padding-bottom: 5px;
  transition: all 0.3s ease;
}

.horizontal_scroll:hover ::-webkit-scrollbar {
  display: block;
}

.horizontal_scroll::-webkit-scrollbar {
  height: 4px;
  border-radius: 4px;
  display: none;
}

.horizontal_scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

nav a:hover {
  color: var(--primary);
}

.primary_text {
  background: -webkit-linear-gradient(
    60deg,
    var(--primary),
    var(--primary),
    var(--secondary)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.primary_btn {
  background: var(--primary);
  color: #fff;
  padding: 8px 20px;
  border-radius: 6px;
  box-shadow: 0 1px 20px #ffffff36;
  transform: scale(0.98);
  transition: all 0.3s;
}

.primary_btn:hover {
  transform: scale(1);
}

.secondary_btn {
  background: var(--secondary);
  color: #fff;
  padding: 9px 40px;
  border-radius: 6px;
  box-shadow: 0 1px 20px #ffffff36;
  transform: scale(0.98);
  transition: all 0.3s;
}

.secondary_btn:hover {
  transform: scale(1);
}
.third_btn {
  background: var(--third);
  color: #fff;
  padding: 9px 40px;
  border-radius: 6px;
  box-shadow: 0 1px 20px #ffffff36;
  transform: scale(0.98);
  transition: all 0.3s;
}

.third_btn:hover {
  transform: scale(1);
}

.section_line {
  position: relative;
  width: max-content;
  margin: auto;
}

.section_line::after {
  position: absolute;
  content: "";
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 1.5px;
  background: linear-gradient(90deg, #e7eae8, var(--primary), #dee2df);
}

/* ------------------Modal---------------- */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #4f4f508d;
  z-index: 99999;

  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.overlay_show {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 999999 !important;
  transform: translate(-50%, -50%);

  background: #fff;
  border-radius: 6px;
  cursor: auto;

  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.modal_show {
  opacity: 1;
  visibility: visible;
}

/* -------------Form------------- */
form {
  font-size: 15px;
}

input,
textarea,
select {
  width: 100%;
  padding: 5px;
  border: 1px solid #979797;
  border-radius: 4px;
  outline: none;
  color: #3a3a3a;
}

table {
  width: 100%;
  font-size: 15px;
  border-radius: 5px;
  overflow: hidden;
}

table thead th {
  background: #dddddd5c;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #404145e6;
  text-transform: uppercase;
  text-align: start;
  white-space: nowrap;
}

table tbody td {
  padding: 10px;
  text-align: start;
  border-bottom: 1px solid #dddddd94;
}

table tbody tr:nth-child(even) {
  background: #dddddd34;
}

.jodit-status-bar {
  display: none !important;
}

.content .jodit-wysiwyg {
  min-height: 80vh !important;
}

.jodit_200 .jodit-wysiwyg {
  min-height: 200px !important;
}

/*------------Faq----------*/
.faq_ans {
  height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.faq_ans_show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}

/* ------------- animation ------------ */

@keyframes drop {
  0% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-3px);
  }
}

.animate-drop {
  animation: drop 1s infinite ease-in-out;
}

.h400 .jodit-workplace {
  height: 400px !important;
}
